.birthday-container {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  justify-content: space-between;
}

.BirthdayGreetingContainer {
    /* Existing styles... */
    width: 100vw; /* Set width to viewport width (optional) */
    height: 100vh; /* Set height to viewport height (optional) */
    overflow: hidden; /* Hides overflowing content (optional) */
  }

  .greeting-content {
    position: absolute; /* Ensures absolute positioning within parent */
    top: 50%; /* Center vertically (adjust if needed) */
    left: 50%; /* Center horizontally (adjust if needed) */
    transform: translate(-50%, -50%); /* Center based on its own size */
    /* Other styles for spacing, etc. */
    margin-bottom: 50px;
  }
  
  .greeting {
     display: flex;
     justify-content: center;
  }

  .greeting-appear {
    opacity: 0;
    transform: scale(0.8); /* Start at 80% scale */
  }
  
  .greeting-appear-active {
    opacity: 1;
    transform: scale(1); /* Animate to full scale */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  @keyframes greeting-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .greeting-enter {
    opacity: 0; /* Starts invisible */
  }
  
  .greeting-enter-active {
    opacity: 1; /* Animates to opacity 1 */
    transition: opacity 200ms; /* Animation details */
  }

  .greeting-exit {
    opacity: 1;
  }

  .greeting-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }