.birthday-word {
    transition: opacity 200ms ease-in-out; /* Base transition for all words */
  }

  /* .birthday-words-container {
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    z-index: -1;
    background-color: rgb(255, 231, 253);
  } */

  .birthday-words-container {
   max-width: 100%;
   overflow: hidden;
   margin: 0 auto;
  }
